@import "reset.css";

body {
  font-family: Tahoma, Arial, sans-serif;
}

.container {
  max-width: 1300px;
  padding: 0px 30px;
  margin: 0 auto;
}

/* header */

.header {
  background-color: #2e2d2e;
}

.header-content {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 50px;
}

.header-content h1 {
  font-size: xx-large;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: white;
}

.section {
  padding: 70px 0;

  font-size: 18px;
  color: #2e2d2e;
}

.title-1 {
  margin-bottom: 70px;

  text-align: center;
  font-size: xx-large;
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.title-2 {
  text-align: center;
  font-size: x-large;
  font-weight: 400;
  letter-spacing: 2px;
  background-color: #c1d2f3;
  border-radius: 10px;

  margin-bottom: 30px;
}

/* card */

.card {
  min-width: 315px;

  display: flex;
  row-gap: 20px;
  flex-wrap: wrap;

  box-shadow: 7px 9px 5px #2c5bc815;

  min-height: 250px;
  border-radius: 5px;
}

.card+.card {
  margin-top: 70px;
}

.card-text {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 58%;
  min-width: 315px;

  letter-spacing: 0.1px;
}

.card-img {
  max-width: 38%;
  min-width: 315px;
}

.card-img img {
  border-radius: 10px;
}

.technology {
  display: block;
  margin: 5px 0;
  padding: 4px 8px;
  color: #2c5ac8;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1px;
  background-color: white;
  border: 2px solid #2c5ac8;
  border-radius: 10px;
}

.flex-blocks {
  display: flex;
  column-gap: 5px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.list {
  margin-left: 35px;
  margin-bottom: 10px;

  line-height: 30px;
}

.list-item {
  list-style: disc;
  margin-top: 10px;
}

.list-item a {
  padding: 5px;
  border-radius: 10px;
}

.list-item a:hover {
  transition-duration: 0.35s;
  color: white;
  background-color: #2c5ac8;
}

.list-item a:focus {
  background-color: #c1d2f3;
  color: white;
}

.card-text summary {
  cursor: pointer;
  margin: 5px 0;
}

.card-text details summary~* {
  animation: sweep 0.6s ease-in-out;
}

.card-text p {
  margin: 5px 5px;
}